body {
    background-image: url("../images/bg.jpg");
}

p {
    text-align: left;
    color: #777777;
    font-size: 16px;
}

h1 {
    color: lightslategrey;
    font-size: 24px;
}

.body-container {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px;
}

.hr {
    background-color: lightslategrey;
    height: 2px;
}

.pass-border {
    border: 3px dashed lightslategrey;
    border-radius: 25px;
    width: 95%;
}

.mytextbox {
    width: 95%;
    height: 200px;
    margin: 20px;
    resize: none;
    border: none;
    text-align: center;
    color: lightslategrey;
}

.button-row {
    margin-top: 20px;
}
.button-row-bottom {
    margin-bottom: 10px;
}

.button-col {
    text-align: center;
}

.btn {
    background-color: #4aaaa5;
    color: #fff;
    width: 200px;
    border-radius: 15px;
}

.btn:hover {
    background-color: #214d4a;
    color: #fff;
    box-shadow: 0px 0px 20px 1px #4aaaa5;
}

.btn:focus {
    background-color: #c50000;
    color: #fff;
    box-shadow: 0px 0px 20px 1px #4aaaa5;
}

.btn:active {
    background-color: #c50000;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4aaaa5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #214d4a;
}

input:focus+.slider {
    box-shadow: 0 0 1px #214d4a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.choices-col {
    text-align: right;
}

.switches-col {
    font-size: 10px;
    text-align: left;
}

.char-text-box{
    width: 60px;
    height: 26px;
    text-align: center;
    color: lightslategrey;
}