body {
    background-image: url("../images/bg.jpg");
}

p {
    text-align: left;
    color: #777777;
    font-size: 16px;
}

h1 {
    color: lightslategrey;
    font-size: 24px;
}

.body-container {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px;
}

.hr {
    background-color: lightslategrey;
    height: 2px;
}

.pass-border{
    border: 3px dashed lightslategrey;
    border-radius: 25px;
    width: 95%;
}

.mytextbox {
    width: 95%;
    height: 200px;
    margin: 20px;
    resize: none;
    border: none;
    text-align: center;
}